.l-section {
    &--gray-bg {
        background-color: #f7f7f7;
    }
    // desktop only
    &__desktop-container {
        @media (min-width: 768px) {
            width: 70%;
            margin: 0 auto;
        }
    }
}