.button {
    border-radius: 30px;
    border: none;
    background-image: linear-gradient($secondary, $main);
    margin-top: 8px;
    padding: 16px 24px;
    color: white;
    font-weight: bold;
    box-shadow: $card-shadow;
    filter: brightness(1);
    transition: box-shadow 0.3s ease, filter 0.3s ease;

    &:hover {
        // background-image: linear-gradient(lighten($secondary, 10%), lighten($main, 10%));
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
        filter: brightness(1.1);
    }
}