.c-like {
    position: relative;
    &-front {
        font-size: 28px;
        position: absolute; // allows the empty icon to overlap the filled icon
        z-index: 2;
        color: black;
        &:hover+.c-like-animated {
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
        }
    }
    &-animated {
        font-size: 28px;
        position: relative;
        z-index: 1;
        color: transparent;
        background: linear-gradient(to top, $secondary, $main);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
        transform-origin: bottom;
    }
}