.category-title {
    font-weight: bold;
    font-size: large;
}

.location {
    background-color: lightgray;
    display: flex;
    padding: 1em 0;
    width: 100%;
    gap: 1em;
    justify-content: center;
}


.discovery {
    background-color: lighten(lightgray, 10%);
    padding: 2em 10%;
    text-align: center;
    &__title {
        font-weight: bold;
        font-size: xx-large;
    }
    &__text {
        color: gray;
        margin: 1em 0;
    }
    &__button {
        border-radius: 30px;
        border: none;
        background-image: linear-gradient(135deg, $secondary, $main);
        padding: 1em;
        color: white;
        font-weight: bold;
        box-shadow: $card-shadow;
        &:active{

        }
    }
}

.details {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    &__card {
        @include card(lightgray);
        &__text {

        }
        &--highlight {
            @include card(lighten($main, 30%))
        }
        &::before {
            position: absolute;
            content: "X";
            display: flex;
            font-size: small;
            // padding: 4px;
            justify-content: center;
            align-items: center;
            color: white;
            // left: 1em;
            left: 0;
            transform: translate(0, 0px);
            background-color: $main;
            border-radius: 50%;
            // // size: 32px 32px;
            width: 16px;
            height: 16px;
        }
    }
}

.restaurant_list {
    background-color: lightgray;
    padding: 1em;
    &__card {
        @include card;
        margin: 1em 0;
        padding: 0;
        flex-direction: column;
        position: relative;
        &__img {
            border-radius: 20px 20px 0 0;
        }
        &__info {
            padding: 1em 1em;
            h3 {
                font-weight: bold;
            }
        }
        &--new::after { /* [new_restaurant] */
            content: 'Nouveau';
            position: absolute;
            z-index: 1000;
            background-color: $tertiary;
            color: darken($tertiary, 30%);
            top: 2em;
            right: 2em;
            padding: 0.5em;
            opacity: 1;
            border-radius: 5px;
        }
    }
}