.h-align-center {
    // display: flex;
    // justify-content: center;
    align-items: center !important;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}

.h-small-margin {
    margin: 0 17px;
}